#logo {
    margin: 1.8em;
  
  }
  #sublogo {
    margin: 0.5em;
    width: 20em;
  }
  html {
  font-family: "ＭＳ Ｐゴシック",sans-serif;
  }
  
  #logo a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 6em;
  }
  #sublogo a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1em;
  }
  
  #home-menu li {
    list-style: none;
    margin: 18px;
  }
  
  #home-menu li a {
    text-decoration: none;
    color: #fdfdfd;
    font-weight: bold;
    font-size: 0.9em;
  }
  
  #home-menu {
    display: flex
  }
  
  #logo {
    margin-right: 0em;
    margin-left: 18em;
    width: 30em;
  }
  
  #home-menu {
    margin: auto;
    margin-right: auto;
    width: 37em;
  }
  
  #home-menu a {
    color: #dc6688;
    text-decoration-color: transparent;
  }
  
  
  header {
    position: fixed;
    width: 100%;
    height: 300px;
    left: 0;
    top: 0;
    margin: 0;
    background: linear-gradient(#578094, #053a5b); 
    z-index: 1001;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.05);
  }
  #TOPIK0img{
    margin-left: 450px;
    width: 40%;
  }